

.loadingContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3{
    color: $yellow;
  }
}
  
.loading{
  max-width: 200px;
  width: calc((1vw * 7) + 50px);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}