img.ball {
    position: absolute;
    width: 100px;
    top: -25px;
    left: -110px;
    animation: MoveUpDown 2s ease-in-out infinite;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}