
/* #d5c300 */
/* #273878 */
/* #e5fecc */

$darkgreen: #51713e;
$purple: #2a649e;
$green: #7ac3a6;

$lightartificialgreen: #a7f5e7;
$black: #040402;
$greywhite: #e7e8e8;
$yellow: #f7ea8c;
$red: #e71119;
$primaryAccent: #d5c300;
$primaryColor: #273878;
$secondaryColor: #e5fecc;
$headingSelection: #08f;
$primaryWhite: #fff;