
/* #d5c300 */
/* #273878 */
/* #e5fecc */

$darkgreen: #51713e;
$purple: #2a649e;
$green: #7ac3a6;
$lightartificialgreen: #a7f5e7;
$black: #040402;
$greywhite: #e7e8e8;
$yellow: #fde000;
$red: #e71119;