
.pokeDisplay {
    width: 200px;
    // padding: 0;
    img {
      width: 100%;
    }

    ul{
      padding: 0;
    }

    li{
      list-style-type: none;
      padding: 3px 6px;
      text-align: center;
    }
}

.quizMessage, .chooseYourFighter {
  border: 7px solid $red;
  border-radius: 2rem;
  font-size: 6rem;
  background-color: $black;
  padding: 0 15px;
  margin: 20px auto;
  max-width: 730px;
  text-align: center;
}

.chosenCity, .chosenCrime {
  color: $yellow;
  font-weight: bold;
}

.options {
  display: flex;
  flex-wrap: wrap;
}
