
.pokeDisplay {
    width: 200px;
    cursor: pointer;
  
    img {
      width: 100%;
    }

    ul{
      padding: 0;
    }

    li{
      list-style-type: none;
      padding: 3px 6px;
      text-align: center;
    }
}

.pokeDisplay:hover, .pokeDisplay:focus {
   animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
	0% {
		transform: scale(1) ;
	} 
	20% {
		transform: scale(1.05) ; 
	}
	40% {
 		transform: scale(1.1) ;
	}
}
.quizMessage, .chooseYourFighter {
  border: 7px solid $red;
  border-radius: 2rem;
  font-size: 6rem;
  background-color: $black;
  padding: 0 15px;
  margin: 20px auto;
  max-width: 730px;
  text-align: center;
}

.chooseYourFighter {
  margin-bottom: 80px;
}
.chosenCity, .chosenCrime {
  color: $yellow;
  font-weight: bold;
}

.options {
  display: flex;
  flex-wrap: wrap;
}
