.resultsSection {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: $black;
    border: 3px solid $yellow;
    border-radius: 2rem;
    padding: 20px;
    text-align: center;
    min-height: 800px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 70px;
    
    p {
        color: $primaryWhite;
        line-height: 180%;
        margin: 15px 0;
    }
}

h3 {
    color: $primaryWhite;
    font-size: 6rem;
    font-family: 'Iceberg', cursive;
    font-style: italic;
    margin: 10px 0 0;
}
.resultPokeName, .resultCrimeName {
    padding: 4px 6px;
    font-size: 4rem;
    border-radius: 15px;
    color: $greywhite;
    font-weight: bold;
     text-shadow:
        -0.1rem -0.1rem 1rem $primaryAccent,
        0.2rem 0.2rem 1rem $primaryAccent,
        0 0 2rem $headingSelection,
        0 0 4rem $headingSelection,
        0 0 6rem $headingSelection,
        0 0 8rem $headingSelection,
        0 0 10rem $headingSelection;
}

.resultsImagesDiv {
    position: relative;
    border-radius: 50%;
    background-color: $black;
    img{
        width: 100%;
        max-width: 400px;
    }
}
.winner {
    border: 30px solid $lightartificialgreen;
}

.loser {
    border: 20px solid $red;
}

img.redX {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
}
img.greenCirc {
    position: absolute;
    top: -25px;
    left: -25px;
    width: 110%;
}
.gameButtons {
    display: flex;
    width: 70%;
    justify-content: space-around;

}
.again {
    font-size: 2.5rem;
    padding: 10px 15px;
    font-family:'Barlow', sans-serif;
    font-weight: bold;
}

@media (max-width: 800px) {

    .resultsSection {
        width: 100%;
    }

    .gameButtons {
        flex-direction: column;
        margin-top: 30px;
    }
    .again {
        font-size: 2rem;
        margin: 10px 0 0 0 ;
    }
}