.introText {
  max-width: 600px;
}

.userNameForm {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
} 

label {
  border: 4px solid $red;
  color: $red;
  background-color: $black;
  padding: 8px 10px 10px 25px;
  border-radius: 25px 0 0 25px;
}

input {
  background-color: $lightartificialgreen;
  padding: 10px;
  border: 4px solid $darkgreen;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
opacity: 0; 
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
opacity: 0;
}
::-ms-input-placeholder { /* Microsoft Edge */
opacity: 0;
}

.nameButton {
  background-color: $yellow;
  border-color: $yellow;
  border-radius: 0 25px 25px 0;
  padding: 10px 30px 10px 5px;
}

.charWarning {
  margin-top: 1px;
  font-size: 2rem;
}
.charWarningText {
  font-style: italic;
}


.again {
  margin: 25px 0 0;
  background-color: $lightartificialgreen;
  border: 15px solid $red;
  border-radius: 25px;
  cursor: pointer;
  p {
    padding: 0 50px;
    font-size: 5rem;
    margin: 0 25px;
  }
}


@media (max-width: 720px){
  .introText p{
    font-size: calc(1vw + 1.6rem);
  }

  .userNameForm {
    flex-direction: column;
    justify-content: center;
  } 

  label{
    visibility: hidden;
    height: 0;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.8; 
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.8;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.8;
  }

  .nameButton{
    border-radius: 0;
    margin-top: 10px;
  }
}